.sort-container {
  margin-bottom: 20px;
}
 .single-card {
   background-color: #ebf3ff;
   border: 2px solid #5a8794;
 }

 .button-style {
   background-color: #3f9ce8;
   border: 2px solid #5a8794;
 }

form.form-inline {
  margin: 0 auto;
}